* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 125px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: start;
  background-color: #f2f2f2;
  font-family: "Josefin Sans";

  background-image: url(img/bg-desktop-light.jpg);
  background-repeat: no-repeat;

  position: relative;
  z-index: 0;
}

.searched-field__list li,
.btn,
.container__taskbar,
.todo-item,
.window__alert,
.input__todo-item--edit,
.task--input,
.todo-input {
  border: 1px solid rgba(0, 0, 0, 0.518);
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-family: inherit;
}

.btn {
  transition: transform 0.3s ease-out;
  border: none;
  font-weight: 800;
  color: #9495a5;
  transition: all 0.4s;
  cursor: pointer;
}
.btn:hover {
  color: #3a7cfd;
  transform: translate(0, -1px);
}
.btn:active {
  color: #9495a5;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.container__logo {
  font-weight: 700;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 1.5rem;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
}

.container__header {
  display: flex;
}

.container__form {
  border: none;
  width: 100%;
}

.input__todo-item--edit,
.task--input,
.todo-input {
  width: 100%;
  padding: 12px;
  padding-left: 35px;
  font-size: 1rem;
}
.input__todo-item--edit,
.task--input,
.todo-input:focus {
  outline: none;
}

.container__todo-list {
  list-style: none;
  word-break: break-all;
}

.searched-field__list li,
.todo-item {
  margin-bottom: 10px;
  width: 100%;
  transition: transform 0.3s ease-out;
  color: black;
  word-break: break-all;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.todo-item:hover {
  transform: translate(0, -2px);
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.todo-item--title {
  width: 90%;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
}

.task--input {
  border: none;
  padding: 0;
}

.todo-item__buttons {
  display: none; /* Hidden */
}

.todo-item:hover .todo-item__buttons {
  display: flex;
}

.todo-item__buttons .btn {
  user-select: none;
  cursor: pointer;
  font-size: 14px;
}

.title--checkbox {
  height: 20px;
  opacity: 0;
}

.display--checkbox {
  opacity: 100;
}

.title--text {
  cursor: pointer;
  color: inherit;
}

.container__taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  user-select: none;
}

.taskbar__list-count {
  font-family: inherit;
  color: #9495a5;
  font-size: 0.8rem;
}

.taskbar__delete-buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.delete-btn__all:active,
.delete-btn__completed:active {
  color: #3a7cfd;
}

.delete-btn__all {
  border: 1px solid red;
}
.delete-btn__completed {
  border: 1px solid rgb(0, 158, 0);
}

.clickedItem {
  text-decoration: line-through;
  color: #9495a5;
}
.completedItem {
  color: #9495a5;
}

.searched-field {
  padding-top: 125px;
  max-width: 300px;
  max-width: 500px;

  word-break: break-all;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searched-field__delete-btn {
  width: 80px;
}

.searched-field__list li {
  width: 100%;
}

.window__alert {
  position: absolute;
  height: 120px;
  padding: 20px;
  padding-left: 10px;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 1;
}

.alert__message {
  text-decoration: underline red;
  text-underline-offset: 5.45px;

  display: flex;
  align-items: center;
}

.alert__message-icon {
  height: 25px;
}
.alert__message-text {
  margin-left: -1.5px;
}

.alert__buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.alert__buttons .btn:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.background {
  filter: blur(4px);
  opacity: 70%;
}

.hidden {
  display: none !important;
}

.activited {
  color: #3a7cfd;
  text-decoration: underline #3a7cfd;
  text-underline-offset: 2px;
}

.input__todo-item--edit {
  margin-bottom: 20px;
  height: 60px;
}

.border-between--btns {
  border: 1px solid #9495a5;
}

.todo-item--editing {
  color: #3a7cfd;
}

.green-border {
  box-shadow: inset 0px 0px 0px 5px greenyellow;
  transform: translate(0, -2px);
}
